# Docker specific
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Python virtual environment
.venv
venv/
env/

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd

# IDEs and editors
.idea/
.vscode/
*.swp
